/* Les boutons */

.bg-sub {
    font-size: 1.1em;
    height: 3.5em;
    width: 20em;
}

/* Tailles et couleurs */

.contenu >.container {
    background-color: rgb(248, 248, 248);
    border-radius: 2%;
}

.profil-img > div> img {
    
    width: 230px;
}
.container > div {
    display: flex;
}

/* Les polices d'écritures */

h1 {
    font-family: "Compass";
}

label {
    font-family: "Compass";
    font-size: 1em;
}
span {
    font-size: 1.1em;
}




