<!-- Footer -->
<footer class="py-2">

    <!-- Footer Links -->
    <div class="container-fluid text-left">

      <!-- Grid row -->
      <div class="row p-2">

        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Content -->

          <!-- Grid column -->
          <hr class="d-block d-md-none clearfix w-100 border-top border-light my-1">

          <div class="d-flex justify-content-between align-items-center">
            <h5 class="text-white text-uppercase">Plan du Site</h5>
            <i class="fas fa-angle-down d-md-none d-block mr-3 text-light"></i>
          </div>

          <!-- Links -->
          <ul class="list-unstyled my-0">
            <li>
              <a class="text-white" href="../accueil/index.php">Accueil</a>
            </li>
            <li>
              <a class="text-white" href="../annuaire/index.php">Annuaire praticiens</a>
            </li>
            <li>
              <a class="text-white" href="../quisommesnous/index.php">Qui sommes-nous ?</a>
            </li>
            <li>
              <a class="text-white" href="../offres/index.php">Nos offres</a>
            </li>
            <li>
              <a class="text-white" href="../besoindaide/index.php">Besoin d'aide ?</a>
            </li>
          </ul>

        </div>

        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Links -->
          <h5 class="text-white text-uppercase d-md-block d-none">Annexes</h5>

          <ul class="list-unstyled">

            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none border-top border-light my-1">
            <li>
              <a class="text-white" href="../besoindaide/index.php">S.A.V</a>
            </li>

            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none border-top border-light my-1">
            <li>
              <a class="text-white" href="../presse/index.php">Presse</a>
            </li>

            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none border-top border-light my-1">
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">

          <a href="../connexion/index.php">
            <button class="btn bg-sub-light text-uppercase" type="button" name="button">Êtes-vous praticien&nbsp;?</button>
          </a>

          <ul class="list-unstyled mb-0 my-3 d-flex justify-content-center">
            <a class="mx-2" href="https://www.facebook.com/doctoask/" target="_blank">
              <li>
                <i class="fab fa-facebook-square text-light"></i>
              </li>
            </a>
            <a class="mx-2" href="https://twitter.com/_DoctoAsK" target="_blank">
              <li>
                <i class="fab fa-twitter-square text-light"></i>
              </li>
            </a>
            <a class="mx-2" href="https://www.linkedin.com/company/doctoask" target="_blank">
              <li>
                <i class="fab fa-linkedin text-light"></i>
              </li>
            </a>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="text-center d-flex flex-column">
      <a class="my-3" href="../accueil/index.php">
        <img src="../src/img/Logo_Version_Finale_Blanc.png" style="color: white;" alt="">
      </a>
      <span class="text-white">Copyright &#9400; 2018 DoctoAsk. Tous droits réservés. Projet étudiant de l'Université de Bordeaux</span>
      <div>
        <a href="../CGU/index.php">CGU</a>
        <span>|</span>
        <a href="../sitemap/index.php">Site Map</a>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>

<script type="text/javascript">
    //Mobile Navbar fonctionnement
    $('.mobile > section:first-child > div').on('click', function() {
      $('.mobile > section:first-child').addClass('is-active');
    });

    $('.mobile > section:first-child > nav > div').on('click', function() {
      $('.mobile > section:first-child.is-active').removeClass('is-active');
    });

    //Hidden overflow menu FOOTER
    $('footer > div > div > div:first-child > div').on('click', function() {
      $(this).siblings('ul').toggleClass('is-active');
    });
</script>

</html>
