<body>

  <!-- HEADER DESKTOP -->
  <header class="desktop p-3 border-bottom d-none d-md-flex align-items-center bg-white">

    <section>
      <a href="../accueil/index.php"><img class="md-size mr-3" src="../src/img/md-logo.png" alt=""></a>
      <a href="../accueil/index.php"><img class="xl-size ml-2 mr-4" src="../src/img/logo.png" alt=""></a>
    </section>

    <!-- NAVIGATION -->
    <nav class="w-100 d-flex justify-content-between align-items-center">
      <ul class="list-unstyled d-flex align-items-center m-0">
        <li class="text-uppercase">
          <a class="mr-3" href="../annuaire/index.php">Annuaire praticiens</a>
        </li>
        <li class="text-uppercase">
          <a class="mr-3" href="../quisommesnous/index.php">Qui sommes-nous&nbsp;?</a>
        </li>
        <li class="text-uppercase">
          <a class="mr-3" href="../offres/index.php">Nos offres</a>
        </li>
        <li class="text-uppercase">
          <a class="mr-3" href="../besoindaide/index.php">Besoin d'aide&nbsp;?</a>
        </li>
      </ul>

      <a href="../connexion/index.php">
        <button class="btn bg-sub text-uppercase" type="button" name="button"><span class="d-md-hide">Êtes-vous </span>praticien&nbsp;?</button>
      </a>
    </nav>

  </header>

  <!-- HEADER MOBILE -->
  <header class="mobile d-flex d-md-none position-relative bg-white justify-content-between align-items-center p-3 border-bottom">

    <section>
      <div>
        <span class="d-block"></span>
        <span class="d-block"></span>
        <span class="d-block m-0"></span>
      </div>

      <!-- NAVIGATION -->
      <nav class="position-absolute bg-white d-flex flex-column justify-content-between">

        <div>
          <div class="position-relative">
            <span class="d-block bg-dark position-relative"></span>
            <span class="d-block bg-dark"></span>
          </div>

          <ul class="list-unstyled py-3 px-4 d-flex flex-column">
            <li class="text-uppercase mb-2">
              <a href="../accueil/index.php">Accueil</a>
            </li>
            <li class="text-uppercase mb-2">
              <a href="../annuaire/index.php">Annuaire praticiens</a>
            </li>
            <li class="text-uppercase mb-2">
              <a href="../quisommesnous/index.php">Qui sommes-nous ?</a>
            </li>
            <li class="text-uppercase mb-2">
              <a href="../offres/index.php">Nos offres</a>
            </li>
            <li class="text-uppercase mb-2">
              <a href="../besoindaide/index.php">Besoin d'aide ?</a>
            </li>
            <li class="mt-4 align-self-center">
              <a href="#!">
                <button class="btn bg-sub text-uppercase" type="button" name="button">Êtes-vous praticien&nbsp;?</button>
              </a>
            </li>
          </ul>
        </div>

        <ul class="list-unstyled d-flex flex-row justify-content-between align-self-center">
          <a href="https://www.facebook.com/doctoask/">
            <li>
              <i class="fab fa-facebook-square"></i>
            </li>
          </a>
          <a href="https://twitter.com/_DoctoAsK">
            <li>
              <i class="fab fa-twitter-square"></i>
            </li>
          </a>
          <a href="https://www.linkedin.com/company/doctoask">
            <li>
              <i class="fab fa-linkedin"></i>
            </li>
          </a>
        </ul>
      </nav>
    </section>

    <section>
      <a href="../accueil/index.php"><img src="../src/img/logo.png" alt=""></a>
    </section>

    <section>
      <a href="../connexion/index.php">
        <i class="fas fa-user-md"></i>
      </a>
    </section>
  </header>
