.chat {
  font-family: "MADE", sans-serif;
  width: 50vw;
  margin: 0 auto;
  padding: 5vh 0 20vh 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.msgEntity {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.msgUser {
  flex-direction: row-reverse;
}

.msgEntity > .msg{
  background: #651fff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: calc(100% - (10px + 50px + 10px));
  position: relative;
}

.msgEntity > .msg::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #651fff transparent transparent;
}

.msgUser > .msg {
  background: #AB47BC;
}

.msgUser > .msg::before {
  right: -15px;
  left: inherit;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #AB47BC;
}



.msg > span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #651fff transparent transparent;
  position: absolute;
  top: 13px;
  left: -13px;
}

.imgProfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.imgProfil img {
  height: 100%;
}

.inputChat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100px;
}
