/* Les boutons */

.bg-sub {
    font-size: 1.1em;
    height: 3.5em;
    width: 20em;
}

/* Tailles et couleurs */

.contenu >.container {
    background-color: rgb(248, 248, 248);
    border-radius: 2%;
}

.profil-img > div > img {
    height: 8vh;
    width: 8vh;
}

/* Les cercles */

.profil-img {
    background-position: center;
    background-repeat: none;
    height: 14vh;
    width: 14vh;
    background-size: cover;

    border-radius: 100%;

    border: solid 10px #651FFF;
    display: flex;
}




/* Les polices d'écritures */

h1 {
    font-family: "Compass";
}

h3  {
    font-family: "Compass";
}
label {
    font-family: "Compass";
    font-size: 1em;
}
p {
    font-family: "Compass";
    font-size: 1.3em;

}



/* Les annimations */

.profil-img > div:hover {
    transform: scale(1.2);
}
