b {
    font-family: "CompassBold";
}
.bg-presse {
    width: 150px;
    height: 50px;
    
    
}
.presse {
    width: 100%;
}

.center{
    margin:auto;
    float:none;  /* annule le float:left de bootstrap*/
}


h3 {
    color: blueviolet;
    

}
.folder {
    background-image: url("../img/folder.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
}

.display {
    width: 100%;
}

h3 {
    font-family: compas;
}


