section
{
  padding: 0;
  margin: 0;
  font-family: "Compass", sans-serif;
}

.first
{
  background-image: url(../../src/img/bg-mobile.jpg);
  background-position: center;
  background-size: cover;
}
.container:first-child img
{
  width: 100%;
  padding: 30px 0 30px;
}
h1
{
  font-family: "MADE", sans-serif;
  padding: 0 0 20px;
}
.accroche
{
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.search .input-group-text
{
  background-color: #fff;
  border-radius: 100px;
  border-right: none;
}

.search .input-group-text i {
  color: #651FFF;
  transition: all 0.5s ease;
  cursor: pointer;
}

.search .input-group-text i:hover {
  filter: brightness(150%);
  transform: scale(1.1);
}

.search .form-control
{
  border-left: none;
  border-radius: 100px;
}
.first a
{
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  width: 250px;
}

.first>.container>.row:nth-child(4)>div:last-child>a
{
  background: none;
  color:white;
  border-color: white;
}

.first>.container>.row:nth-child(5) p
{
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1rem;
}
.first>.container>.row:nth-child(5) i
{
  color: white;
  margin: 10px 0 30px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.dictaticiel
{
  background-color: #651FFF;
  border-top: solid 5px #FFF;
}
.dictaticiel button
{
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 50px;

}
.guide h1
{
  font-family: "MADE", sans-serif;
  color: #651FFF;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align:left;
  font-weight: normal;
}
.guide h1 span
{
  font-size: 1.2rem;
  color: #AA4BBA;
  text-transform: none;
  text-align:left;
  font-family: Compass;
  font-weight: bold;
}
.guide p
{
  font-size: 1rem;
  color: #808080;
  text-align: justify;
}
.guide>.container-fluid>.row>div
{
  padding: 0;
}
.guide>.container-fluid>.row>div:first-child
{
 align-self: center;
}

.guide>.container-fluid>.row:nth-child(2n)>div:first-child
{
  order: 2;
}
.guide>.container-fluid>.row>div>div
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.guide>.container-fluid>.row button
{
margin: auto;
}
.guide button
{
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: normal;
  margin: auto;
}
.guide img{
  width: 100%;
}

@media screen and (max-width:768px) {
  .guide>.container-fluid>.row:nth-child(2n)>div:first-child
  {
    order: 0;
  }

  .guide>.container-fluid>.row>div:first-child
  {
    margin:100px 0;
  }
}
@media screen and (min-width:768px) {

  .guide>.container-fluid
  {
    padding: 0 100px;
  }
  .guide>.container-fluid>.row
  {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px rgba(101,31,255,0.25);
  }
  .guide>.container-fluid>.row:last-child
  {
    border-bottom: none;
  }

  .guide>.container-fluid>.row>div:nth-child(2) img
  {
    padding: 0;
    border-radius: 500px;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    margin: auto;
  }

}
