body
{
  padding: 0;
  margin: 0;
  font-family: "Compass", sans-serif;
  background-color: #ecf0f1;
}

body>section>.container-fluid>.row:first-child>div
{
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body>section>.container-fluid>.row:first-child>div>img
{
  width: 150%;
}
body>section>.container-fluid:first-child
{
  background-color: #651FFF;
  color: white;
}

body>section>.container>.row>.jumbotron
{
  background-color: white;
  padding: 1rem;
}
body>section>.container>.row>.jumbotron h1
{
  font-size: 1.5em;
  border-bottom: 1px solid #651FFF;
  text-transform: uppercase;
}
.btn-chat
{
  color: white;
  background-color: #651FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btn-chat a
{
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
