/* Les boutons */

.primary-btn {
    font-size: 1.1em;
    height: 3.5em;
    width: 20em;
    transition: all 0.5s ease;
}

/* Tailles et couleurs */

.contenu >.container {
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
}

.profil-img > div> img {
    width: 230px;
}
.container > div {
    display: flex;
}

/* Les polices d'écritures */

h1, h2{
    font-family: "Compass";
}

h2 {
    font-size: 1.7em;;
    margin: 0 0 10px;
}

label {
    font-family: "Compass";
    font-size: 1em;
}

form span {
    font-size: 1.1em;
}

form {
    margin: 0 0 40px;
}


input[type=text], [type="email"] {
    border-radius: 30px;
    padding: 0 0 0 15px;
    height: 50px;
    outline: none;
}

.requis {
    font-size: 12px;
}

.cabinet {
    background-color: #651fff;
    color: #fff;
    padding: 10px 10% 20px;
}

.inscription {
    padding: 10px 10%;
}
